body {
  background-color: lightblue
}

p {
  text-indent: 2em;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.p-panel-header {
  font-size: 2em;
  background-color: #f4f4f4;
  color: #000000;
  padding: 10px;
  border-bottom: 2px solid #000000;
}

.p-panel h1 {
  font-size: 1.5em;
  text-decoration: underline;
}

h1 {
  font-size: 1.5em;
  text-decoration: underline;
}

.p-panel h2 {
  font-size: 1.25em;
  padding-top: 1em;
  text-decoration: underline;
}

.p-panel ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.p-panel ul {
  list-style-type: disc;
  padding-left: 20px;
}

.p-panel a {
  color: blue;  
  text-decoration: underline;
}

.p-panel a:hover {
  color: darkblue;  
  text-decoration: underline; 
}

.p-panel a:visited {
  color:purple;
}

#underline {
  text-decoration: underline;
}

#bold {
  font-weight: bold;
}

/* TicTacToe Below */

td {
  border: 5px solid black;
  width: 120px;
  height: 120px;
  font-size: 80px;
  text-align: center;
  font-family: sans;
}

td:nth-child(1){
  border-left: none;
}

td:nth-child(3){
  border-right: none;
}

tr:nth-child(1) > td{
  border-top: none;
}

tr:nth-child(3) > td{
  border-bottom: none;
}

#turn {
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  font-size: 16pt;
  color: white;
  background-color: #512888;
  width: 360px
}

table {
  background-color: white;
}