p {
  text-indent: 2em;
}

.p-panel-header {
  font-size: 2em;
  background-color: #f4f4f4;
  color: #000000;
  padding: 10px;
  border-bottom: 2px solid #000000;
}

.p-panel h1 {
  font-size: 1.5em;
  text-decoration: underline;
}

h1 {
  font-size: 1.5em;
  text-decoration: underline;
}

.p-panel h2 {
  font-size: 1.25em;
  padding-top: 1em;
  text-decoration: underline;
}

.p-panel ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.p-panel ul {
  list-style-type: disc;
  padding-left: 20px;
}

.p-panel a {
  color: blue;  
  text-decoration: underline;
}

.p-panel a:hover {
  color: darkblue;  
  text-decoration: underline; 
}

#underline {
  text-decoration: underline;
}

#bold {
  font-weight: bold;
}

/* TicTacToe Below */

table {
  border-collapse: collapse;
  margin-top: 20px;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  border: 1px solid black;
  font-size: 2em;
  cursor: pointer;
}

#turn {
  margin-bottom: 10px;
  font-size: 1.5em;
}